database:
  image: mysql
  container_name: droprules.database.dev
  command: mysqld --user=root
  volumes:
    - ./drop_rules.sql:/docker-entrypoint-initdb.d/drop_rules.sql
  ports:
    - "3306:3306"
  environment:
    MYSQL_DATABASE: "drop_rules"
    MYSQL_USER: "khuong"
    MYSQL_PASSWORD: "tiet"
    MYSQL_ROOT_PASSWORD: "root"
    MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
